# Server
PORT=3001

# MongoDB
MONGODB_URI=mongodb+srv://admin-user-object-db:2gFLe1aJVUmEqmeJ@cluster0.1yvy4e5.mongodb.net/?appName=Cluster0

# Cloudinary (https://cloudinary.com — free tier: 25GB storage, 25GB bandwidth)
# Find these in your Cloudinary dashboard → Settings → API Keys
CLOUDINARY_CLOUD_NAME=dkob5tmnh
CLOUDINARY_API_KEY=262131522935254
CLOUDINARY_API_SECRET=zfg9KbdR-Ty1tM3QfTkecYkYoGE
CLOUDINARY_FOLDER=arkiv/objects
